<div class="applicability-overlay">
    <mat-icon class="close-icon" (click)="onCancel()"> cancel</mat-icon>
    <h2>FD - {{ fdrNumber }}</h2>
    <div *ngIf="selectedRowNode">
        <button mat-stroked-button (click)="onEdit()">
          <mat-icon>edit</mat-icon>
          <span>EDIT</span>
        </button>
        <button mat-stroked-button (click)="onSave()">
          <mat-icon>save</mat-icon>
          <span>SAVE</span>
        </button>
    </div>
    <mat-error *ngIf="errorMessage" class="error">
      <span>{{ errorMessage }}</span>
      <span (click)="errorMessage = null" class="close">
        <mat-icon color="primary">clear</mat-icon>
      </span>
    </mat-error>
    <ag-grid-angular
        #agGrid
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressRowClickSelection]="true"        
        [editType]="editType"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (rowEditingStarted)="onRowStartEditing($event)"
        (rowEditingStopped)="onRowStopEditing($event)"
        (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>
</div>
