<div class="form-group">
  <mat-card>
    <ng-content></ng-content>
    <form
      [formGroup]="createUserForm"
      #formDirective="ngForm"
      (ngSubmit)="onFormSubmit(createUserForm, formDirective)"
    >
      <div class="row">
        <mat-error *ngIf="errorMessage" class="error">
          <span>{{ errorMessage }}</span>
          <span (click)="errorMessage = null" class="close">
            <mat-icon color="primary">clear</mat-icon>
          </span>
        </mat-error>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="userName" matInput />
            <mat-error>
              <span *ngIf="!f.userName.valid && f.userName.touched">
                <span *ngIf="f.userName.errors.required">
                  Please enter username!
                </span>
                <span *ngIf="f.userName.errors.minlength">
                  Username must be atleast 3 characters!
                </span>
                <span *ngIf="f.userName.errors.maxlength">
                  Username must be less than 20 characters!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput />
            <mat-error>
              <span *ngIf="!f.password.valid && f.password.touched">
                <span *ngIf="f.password.errors.required">
                  Please enter password!
                </span>
                <span *ngIf="f.password.errors.notBlank">
                  Password should not contain all blank spaces!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="firstName" matInput />
            <mat-error>
              <span *ngIf="!f.firstName.valid && f.firstName.touched">
                <span *ngIf="f.firstName.errors.required">
                  Please enter firstname!
                </span>
                <span *ngIf="f.firstName.errors.minlength">
                  First Name must be atleast 3 characters!
                </span>
                <span *ngIf="f.firstName.errors.maxlength">
                  First Name must be less than 20 characters!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" formControlName="lastName" matInput />
            <mat-error>
              <span *ngIf="!f.lastName.valid && f.lastName.touched">
                <span *ngIf="f.lastName.errors.maxlength">
                  Last Name must be less than 20 characters!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input type="text" formControlName="mobileNumber" matInput />
            <mat-error>
              <span *ngIf="!f.mobileNumber.valid && f.mobileNumber.touched">
                <span *ngIf="f.mobileNumber.errors.required">
                  Please enter Mobile Number!
                </span>
                <span *ngIf="f.mobileNumber.errors.notBlank">
                  Mobile Number should not contain all blank spaces!
                </span>
                <span *ngIf="f.mobileNumber.errors.maxlength">
                  Mobile Number must be less than 20 characters!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Work Phone</mat-label>
            <input type="text" formControlName="workPhone" matInput />
            <mat-error>
              <span *ngIf="!f.workPhone.valid && f.workPhone.touched">
                <span *ngIf="f.workPhone.errors.maxlength">
                  Work Phone should be less than 20 characters!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="emailId" matInput email />
            <mat-error>
              <span *ngIf="!f.emailId.valid && f.emailId.touched">
                <span *ngIf="f.emailId.errors.required">
                  Please enter email!
                </span>
                <span *ngIf="f.emailId.errors.maxlength">
                  EmailId must be less than 80 characters!
                </span>
                <span *ngIf="f.emailId.errors.email">
                  Please enter a valid email address!
                </span>
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-chip-list #chipList aria-label="Authority selection">
              <mat-chip
                *ngFor="let authority of authorities"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(authority)"
              >
                {{ authority }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="New Authority..."
                #authorityInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let authority of allAuthoritiesName"
                [value]="authority"
              >
                {{ authority }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row-element">
        <mat-checkbox color="primary" formControlName="active">
          Active
        </mat-checkbox>
      </div>
      <div class="row-element">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!createUserForm.valid"
        >
          CREATE
        </button>
      </div>
      <ngx-spinner
        *ngIf="isLoading"
        color="black"
        type="line-scale"
        size="medium"
      ></ngx-spinner>
    </form>
  </mat-card>
</div>
