<!-- Popup Wrapper -->
<div class="popup-backdrop" *ngIf="isPopupVisible">
    <div class="popup-content">
      <span class="close-btn" (click)="closePopup()">&times;</span>
  
      <h2>Terms of Use</h2>
      <div class="popup-body">
        

<h3>Acceptance of Terms</h3>
<p>
Any information, resources or other material provided to you through our websites, applications and other online and offline properties is subject to the terms of use specified in this statement. By using any of our resources and other material provided to you, you are accepting the terms of use. In case you have any questions or clarifications related to the terms of use, please contact us using the Contact Us link on any of the webpages on our website www.treasurer.in.
</p>
<p>
    Treasurer.in (‘Treasurer’ or ‘we’ or ‘us’ or “our”) reserves the right to update or revise the terms of use at any time without providing notice to you. It is your responsibility to be aware of the updates or revisions to the terms of use. The latest version of the terms of use can be accessed through the Terms of Use link provided at the bottom of our web pages, applications and other online and offline properties.
</p>
<p>
We may provide you through our websites, applications, online and offline properties a variety of resources including tools, software, download areas, communication forums, business and product information, thought papers and marketing material (collectively referred to as ‘resources’). The resources, including updates, enhancements, new features, additions to the web pages, additions/ modifications to the web properties are all subject to the terms of use.
</p>
<h3>Use of Resources</h3>
<p>
Unless otherwise indicated in the relevant content, and on the condition that you comply with all of your obligations under these terms of use, you are authorized to view, copy, print (not for distribution) the content on this website; provided that (i) such use is for informational, non-commercial purposes only, and (ii) any copy of the content that you make must include the copyright notice or other attribution associated with the content.
</p>
<p>
You will comply with all applicable laws in accessing and using the resources. You agree to the terms of our Privacy Statement.
</p>
<h4>Warranties</h4>
<p>
All content on our websites, applications and other online and offline properties is provided “as is", with no guarantees of completeness, accuracy or timeliness, and without representations, warranties or other contractual terms of any kind, express or implied. We do not represent or warrant that the resources provided and/ or any information or other material, will be accurate, current, error-free, omission-free or free of viruses or other harmful components. While every effort has been made to provide current and accurate information, errors can occur. We reserve the right to review materials and to remove any materials in its sole discretion.
</p>
<p>
The resources may contain information pertaining to but not limited to products, services, technology solutions, e-mail services, bulletin board services, news groups, forums, communities, and/or other message or communication facilities designed to enable you to communicate with us.
</p>
<p>
While using the content provided in the resources, you agree that you will not (actions include but are not limited to below mentioned points):
</p>
<ul>
<li>Use the resources for commercial purposes or otherwise in connection with surveys, contests, pyramid schemes, chain letters, junk email, spamming or any duplicative or unsolicited messages</li>
<li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others</li>
<li>Publish, post, distribute or disseminate any inappropriate, profane, defamatory, obscene, indecent or unlawful topic, name, material or information</li>
<li>Use any material or information, including images or photographs, which are made available through the resources in any manner that infringes any copyright, trademark, patent, or other proprietary right of any party.</li>
<li>Download any file that you know, or reasonably should know, cannot be legally reproduced, displayed, and/or distributed in such manner.</li>
<li>Violate any applicable laws or regulations</li>
<li>Use, download or otherwise copy, or provide whether for commercial purpose or otherwise to a person or entity any directory of users of the resources or other user or usage information or any portion thereof.</li>
</ul>
<p>
As a condition of your use of the information provided under resources, you will not use the resources for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the resources in any manner that could damage, disable, overburden, or impair any We’ server, or the network(s) connected to any We server, or interfere with any other party's use and enjoyment of any service.
</p>
<h3>Use of software, tools and templates (collectively called ‘software’)</h3>
<p>
Any software, tool or template that is made available to download is the copyrighted work of We. Use of the software is governed by the terms of the end user license agreement, if any, which accompanies or is included with the Software ("License Agreement"). An end user will be unable to install any Software that is accompanied by or includes a License Agreement, unless he or she first agrees to the License Agreement terms.
</p>
<p>
The Software is made available for download solely for use by end users according to the License Agreement. Any reproduction or redistribution of the Software not in accordance with the License Agreement is expressly prohibited by law and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.
</p>
<p>
Without limiting the foregoing, copying or reproduction of the software to any other server or location for further reproduction or redistribution is expressly prohibited, unless such reproduction or redistribution is expressly permitted by the license agreement accompanying such software.
</p>
<p>
The software is warranted, if at all, only according to the terms of the license agreement. Except as warranted in the license agreement, we hereby disclaim all warranties and conditions with regard to the software, including all warranties and conditions of merchantability, whether express, implied or statutory, fitness for a particular purpose, title and non-infringement. For your convenience, we may make available as part of the services or in its software products, tools and utilities for use and/or download. We do not make any assurances with regard to the accuracy of the results or output that derives from such use of any such tools and utilities. Please respect the intellectual property rights of others when using the tools and utilities made available on the Resources or in our software products.
</p>
<h3>Use of Documents</h3>
<p>
Permission to use documents such as thought papers, brochures, white papers, datasheets and FAQs from the resources is granted, provided that (1) the below copyright notice appears in all copies and that both the copyright notice and this permission notice appear, (2) use of such documents from the Resources is for informational and non-commercial or personal use only and will not be copied, distributed or broadcast in any media, and (3) no modifications of any documents are made. Use for any other purpose is expressly prohibited by law and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.
</p>
<p>
Information on our websites are protected by trade dress, trademark, unfair competition, copyright and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound or image from the website may be copied or retransmitted unless expressly permitted by us.
</p>
<p>
We make no representations about the suitability of the information contained in the documents and related graphics published as part of the resources for any purpose. All such documents and related graphics are provided "as is" without warranty of any kind. We hereby disclaim all warranties and conditions with regard to this information, including all warranties and conditions of merchantability, whether express, implied or statutory, fitness for a particular purpose, title and non-infringement. In no event shall We be liable for any special, indirect or consequential damages or any damages whatsoever resulting from loss of use, data or profits, whether in an action of contract, negligence or other tortious action, arising out of or in connection with the use or performance of information available from the Resources.
</p>
<p>
The documents and related graphics published on the Resources could include technical inaccuracies or typographical errors. We may make improvements and/or changes in the documents herein at any time.
</p>
<h3>Links to Third Party Sites</h3>
<p>
You may link to this website, application and other online and offline property provided that such link does not involve:
</p>
<ul>
<li>unauthorized use of our logo</li>
<li>any false claim (actual or implied) of endorsement by, or other relationship with us</li>
<li>framing or embedding of any pages of our site</li>
<li>other infringement of our trademarks, copyright and/or other intellectual property rights</li>
</ul>
<p>
We do not bear any responsibility whatsoever for the content, accuracy or security of any third-party websites that are linked (by way of hyperlink or otherwise) to this website. The linked sites are not under our control, and We are not responsible for the contents of any linked site, or any link contained in a linked site, or any changes or updates to such sites. We are not responsible for webcasting, or any other form of transmission received from any linked site. These links are provided to you only as a convenience, and the inclusion of any link does not imply endorsement by us.
</p>
<h3>Copyright Notice</h3>
<p>
Except where noted otherwise, all material on the website is Copyright © 2024 for Treasurer.in. All rights reserved. No part of the materials on this site, including but not limited to the text, graphics and html code, may be reproduced or transmitted in any form, or by any means without our written permission.
</p>
<p>
“Treasurer.in” and the Treasurer logo are registered or pending registration with the Indian Patent and Trademark Office or other trademark offices around the world.
</p>
<h3>
Disclaimers and Limitations of Liability
</h3>
<p>
  This website, application or other online and offline property (including without limitation any content or other part thereof) contains general information only, and we are not, by means of this website, application or other online and offline property, rendering professional advice or services. The information presented on this website, application or other online and offline property should not be construed as legal, regulatory, tax, accounting or any other professional opinion, advice or service. You should consult with a professional advisor familiar with your particular factual situation for advice concerning specific tax or other matters before making any decision. You may reach out to us using the ‘Contact us’ link on each web page should you wish to engage with us further on the information presented on this website, application or other online and offline property.
</p>
<p>
We reserve the right at all times to disclose any information as we deem necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Treasurer' sole discretion.
</p>
<p>
This website, application or other online and offline property is provided as is, and we make no express or implied representations or warranties regarding it. Without limiting the foregoing, we do not warrant that this website, application or other online and offline property will be secure, error-free, free from viruses or malicious code, or will meet any particular criteria of performance or quality. We expressly disclaim all implied warranties, including, without limitation, warranties of merchantability, title, fitness for a particular purpose, non-infringement, compatibility, security, and accuracy.
<p>
Your use of this website, application or other online and offline property is at your own risk and you assume full responsibility and risk of loss resulting from your usage, including, without limitation, with respect to loss of service or data. We will not be liable for any direct, indirect, special, incidental, consequential, or punitive damages or any other damages whatsoever, whether in an action of contract, statute, tort (including, without limitation, negligence), or otherwise, relating to or arising out of the use of this website, even if we knew, or should have known, of the possibility of such damages.
</p>
<p>
Certain links on this website may lead to websites, resources or tools maintained by third parties over whom we have no control, including, without limitation, those maintained by other entities or individual personnel of such entities. Without limiting any of the foregoing, we make no express or implied representations or warranties whatsoever regarding such websites, resources and tools, and links to any such websites, resources and tools should not be construed as an endorsement of them or their content by us.
</p>
      </div>
  
      <button class="close-button" (click)="closePopup()">Close</button>
    </div>
  </div>
  