<div class="form-group">
    <mat-card>
        <ng-content></ng-content>
        <form
         [formGroup]="addTaxForm"
         #formDirective="ngForm"
         (ngSubmit)="onFormSubmit(addTaxForm, formDirective)"
        >
            <mat-error class="error" *ngIf="errorMessage">
                <span>{{ errorMessage }}</span>
                <span (click)="errorMessage = null" class="close">
                    <mat-icon color="primary">clear</mat-icon>
                </span>
            </mat-error>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Tax Name</mat-label>
                        <input type="text" formControlName="taxName" matInput />
                        <mat-error>
                            <span *ngIf="!f.taxName.valid && f.taxName.touched">
                                <span *ngIf="!f.taxName.errors.required">
                                    Please enter the Tax Name
                                </span>
                                <span *ngIf="f.taxName.errors.minlength">
                                    Tax Name must be at least 3 characters!
                                </span>
                                <span *ngIf="f.taxName.errors.maxlength">
                                    Tax Name must be less than 80 characters!
                                </span>
                                <span *ngIf="f.taxName.errors.notBlank">
                                    Tax Name cannot be blank!
                                </span>
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput></textarea>
                        <mat-error>
                            <span *ngIf="!f.description.valid && f.taxName.touched">
                                <span *ngIf="f.description.errors.minlength">
                                    Description must be at least 3 characters!
                                </span>
                                <span *ngIf="f.description.errors.maxlength">
                                    Description must be less than 200 characters!
                                </span>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button
             [disabled]="!addTaxForm.valid"
             mat-raised-button
             type="submit"
             color="primary"
            >
              SUBMIT
            </button>
            <ngx-spinner
              *ngIf="isLoading"
              color="black"
              type="line-scale"
              size="medium"
            ></ngx-spinner>
        </form>
    </mat-card>
</div>
