<app-nav-header></app-nav-header>
<app-navbar></app-navbar> 

<div class="screenMargin">
      
      <div class="investment-overview">
        <div class="overview-item">
          <div class="title">Invested</div>
          <div class="value">₹5,73,014.80</div>
        </div>
        <div class="overview-item">
          <div class="title">Present Value</div>
          <div class="value">₹9,02,020.70</div>
        </div>
        <div class="overview-item">
          <div class="title">Unrealized P&L</div>
          <div class="value">₹3,29,005.90</div>
          <div class="gain">▲ 57.42%</div>
      </div>
      <div class="overview-item">
          <div class="title">XIRR</div>
          <div class="value">18.27%</div>
        </div>
      </div>
    </div> 
<div>
    <app-overview></app-overview>
</div>