<div class="footer">
  <div class="footer-content">
    <div class="row">
      <div class="col">
        <h3>Services</h3>
        <ul>
          <li><a>Portfolio</a></li>
          <li><a>Reports</a></li>
          <li><a>Data Visualization</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Support</h3>
        <ul class="contact">
          <li><a>Contact us</a></li>
          <li><a>Releases</a></li>
          <li><a>All features</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>TMS</h3>
        <ul class="contact">
          <li><a>About us</a></li>
          <li><a>What's new</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="footer-logo">
          <mat-icon>attach_money</mat-icon>
          <span>Treasury</span>
        </div>
        <p><a>support@treasury.com</a></p>
      </div>
    </div>
    <div class="row foot-bottom">
      <a class="foot-bootom-item">Privacy Policy</a>
      <a class="foot-bootom-item">User Agreement</a>
      <p class="foot-last">© Treasury Software Co. Ltd. All rights reserved.</p>
    </div>
  </div>
</div>
