<div class="form-group">
  <mat-card>
    <form
      [formGroup]="changePasswordForm"
      #formDirective="ngForm"
      (ngSubmit)="onFormSubmit(changePasswordForm, formDirective)"
    >
      <div class="example-container">
        <mat-error *ngIf="errorMessage" class="error">
          <span>{{ errorMessage }}</span>
          <span (click)="errorMessage = null" class="close">
            <mat-icon color="primary">clear</mat-icon>
          </span>
        </mat-error>
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input type="password" formControlName="oldPassword" matInput />
          <mat-error>
            <div *ngIf="!f.oldPassword.valid && f.oldPassword.touched">
              <span *ngIf="f.oldPassword.errors.required">
                Please enter old password!
              </span>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password" formControlName="newPassword" matInput />
          <mat-error>
            <div *ngIf="!f.newPassword.valid && f.newPassword.touched">
              <span *ngIf="f.newPassword.errors.required">
                Please enter new password!
              </span>
              <span *ngIf="f.newPassword.errors.notBlank">
                Password must not contain all blank spaces!
              </span>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input
            type="password"
            formControlName="confirmNewPassword"
            matInput
          />
          <mat-error>
            <div
              *ngIf="
                !f.confirmNewPassword.valid && f.confirmNewPassword.touched
              "
            >
              <span *ngIf="f.confirmNewPassword.errors.required">
                Please confirm new password!
              </span>
              <span *ngIf="f.confirmNewPassword.errors.mustMatch">
                Passwords do not match!
              </span>
            </div>
          </mat-error>
        </mat-form-field>
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="!changePasswordForm.valid"
        >
          SUBMIT
        </button>
        <ngx-spinner
          *ngIf="isLoading"
          color="black"
          type="line-scale"
          size="medium"
        ></ngx-spinner>
      </div>
    </form>
  </mat-card>
</div>
